@media print {
  @page {
    margin: 5rem;
    orphans: 4;
  }
  .menu,
  .title,
  .about,
  .math,
  .lum-length,
  .footer {
    display: none;
  }

  .about .heading,
  .math .heading {
    font-family: 'Overlock SC', serif;
    font-size: 24px;
  }
  .about a[href]::after,
  .math a[href]::after {
    content: none !important;
  }
  .about p,
  .math p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  .calculator form {
    margin-top: -2rem;
  }
  .calculator form .preview-image,
  .calculator form .calc-button {
    display: none;
  }
  .calculator form .control-label,
  .calculator form select,
  .calculator form input {
    font-size: 12pt;
  }
  .calculator form .control-label {
    font-family: 'Overlock SC', sans-serif;
  }
  .calculator table a[href]::after {
    content: none !important;
  }
  .calculator table tbody tr td,
  .calculator table tfoot tr td {
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;
  }
  .calculator table thead tr th,
  .calculator table tfoot tr th {
    font-family: 'Overlock SC', sans-serif;
    font-size: 12pt;
  }
  .calculator table .totals-row {
    font-weight: bold;
    text-align: center;
  }
  .calculator table .totals-row th {
    text-align: center;
  }

  .cut-list-h3 {
    font-family: 'Overlock SC', sans-serif;
    margin-top: 0;
  }

  .cut-list {
    margin: 1rem auto 0;
    position: relative;
  }
  .cut-list .cut-container:first-child .lum-size {
    margin-top: 0;
  }
  .cut-list .lum-size {
    display: inline-block;
    font-size: 1.3rem;
    margin: 3.5rem 0 0 3.2rem;
    text-align: left;
    width: 100%;
  }
  .cut-list .lum-quant {
    clear: left;
    float: left;
    font-size: 1.1rem;
    margin: .6rem 0 0;
    padding: 0;
    width: 5.5rem;
  }
  .cut-list .cut-container .plank {
    border: .1rem solid black;
    float: left;
    margin: .3rem 0 0 -2.3rem;
  }
  .cut-list .cut-container .plank .cut {
    border: .1rem solid black;
    float: left;
    height: 100%;
    margin: 0;
    width: 50%;
  }
  .cut-list .cut-container .plank .cut p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
  }
  .cut-list .cut-container .plank .cut .size4 {
    padding-top: .7rem;
  }
  .cut-list .cut-container .plank .cut .size6 {
    padding-top: 1.5rem;
  }
  .cut-list .cut-container .plank .cut .size8 {
    padding-top: 2.5rem;
  }
  .cut-list .cut-container .plank .cut .size12 {
    padding-top: 3.7rem;
  }
  .cut-list .cut-container .plank-height-4 {
    height: 3rem;
  }
  .cut-list .cut-container .plank-height-6 {
    height: 4.5rem;
  }
  .cut-list .cut-container .plank-height-8 {
    height: 6rem;
  }
  .cut-list .cut-container .plank-height-12 {
    height: 9rem;
  }
  .cut-list .cut-container .lum-length {
    visibility: hidden;
  }
  .cut-list .cut-container:last-child::after {
    clear: both;
    content: '*Angled cuts not depicted in the above diagrams';
    display: block;
    font-size: 1.2rem;
    line-height: 4;
    padding-bottom: 1rem;
    text-align: left;
  }

  .footer {
    text-align: center;
  }
}